<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="text-align:center;">
		<h1><%= @company.name %></h1>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>Phone</th>
					<th>Address</th>
					<th>State</th>
				</tr>
				<% @company.offices.each.with_index(1) do |office, ind| %>
				<tr>
					<td><%= ind %></td>
					<td><%= office.contact_email %></td>
					<td><%= office.phone %></td>
					<td><%= office.street_address %></td>
					<td><%= office.state_abbr %></td>
				</tr>
				<% end %>
			</table>
		</div>

	</div>
	<div class="col-md-4">
		<%= form_for [:admin, @company, @office] do |f| %>
			<div class="form-group">
				<%= f.label :contact_email %>
				<%= f.email_field :contact_email, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :phone %>
				<%= f.telephone_field :phone, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :street_address %>
				<%= f.text_field :street_address, class: 'form-control' %> 
			</div>
			<div class="form-group">
				<%= f.label :zip_code %>
				<%= f.text_field :zip_code, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :state_abbr, "State" %>
				<%= f.select :state_abbr, options_for_select(us_states), class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.submit "Add Office", class: 'btn btn-default' %>
			</div>
		<% end %>		
	</div>
	<div class="col-md-2"></div>
</div>